# Neon (PostgreSQL)
# DATABASE_URL = koneksi pooled (untuk app / Vercel) — biasanya ada "-pooler" di host
# DIRECT_URL   = koneksi langsung (untuk prisma migrate)
DATABASE_URL="postgresql://USER:PASSWORD@ep-xxxxx-pooler.REGION.aws.neon.tech/neondb?sslmode=require"
DIRECT_URL="postgresql://USER:PASSWORD@ep-xxxxx.REGION.aws.neon.tech/neondb?sslmode=require"

# NextAuth
NEXTAUTH_SECRET="ganti-dengan-secret-acak-panjang"
NEXTAUTH_URL="http://localhost:3000"
